@font-face {
  font-family: 'iconfont';  /* project id 2010853 */
  src: url('https://at.alicdn.com/t/font_2010853_6wlprfpzlyx.eot');
  src: url('https://at.alicdn.com/t/font_2010853_6wlprfpzlyx.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2010853_6wlprfpzlyx.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2010853_6wlprfpzlyx.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2010853_6wlprfpzlyx.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2010853_6wlprfpzlyx.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontianqi:before {
  content: "\e623";
}

.iconchengyuan:before {
  content: "\e61c";
}

.iconmima:before {
  content: "\e621";
}

.iconshoucang:before {
  content: "\e78c";
}

.iconziliao:before {
  content: "\e6b6";
}

