@font-face {
  font-family: 'iconfont';  /* project id 1962611 */
  src: url('https://at.alicdn.com/t/font_1962611_diowigtyqzu.eot');
  src: url('https://at.alicdn.com/t/font_1962611_diowigtyqzu.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1962611_diowigtyqzu.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1962611_diowigtyqzu.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1962611_diowigtyqzu.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1962611_diowigtyqzu.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconico_home_committed:before {
  content: "\e65c";
}

.icondizhi:before {
  content: "\e628";
}

.iconchakantieziguanzhu:before {
  content: "\e662";
}

.iconweibiaoti105:before {
  content: "\e609";
}

.iconhuangguan:before {
  content: "\e798";
}

.iconsaoyisao:before {
  content: "\e606";
}

.iconwenhao:before {
  content: "\e64e";
}

.iconGroup-:before {
  content: "\e686";
}

.iconiconfontjiantou5:before {
  content: "\e635";
}

.iconrili:before {
  content: "\e785";
}

.iconshengyin:before {
  content: "\e63e";
}

