/* ==================
      uni-app的变量
防止插件市场用到这些，就保留了
 ==================== */

/* 页面左右间距 */

/* 文字尺寸 */
$font-sm: 24rpx;
$font-base: 28rpx;
$font-lg: 32rpx;

/* 边框颜色 */
/* 图片加载中颜色 */

/* ==================
       theme   
 ==================== */

/*主题色*/
/*文字色*/
$color-blue: #409EFF;
$color-green: #19be6b;
$color-red: #fa3534;
/*背景色*/
$bg-page: #f6f6f6;
$img-url: "https://mini.taoyu58.com";
// 一般圆角角度
// 模块间的间距
/* ==================
       自定义变量   
 ==================== */
$spaceTypes: (
	m: margin,
	p: padding
);
$spaceDirections: (
	t: top,
	r: right,
	b: bottom,
	l: left
);
$spaceSizes: (
	2: 2rpx,
	4: 4rpx,
	8: 8rpx,
	10: 10rpx,
	15: 15rpx,
	20: 20rpx,
	24: 24rpx,
	30: 30rpx
);
